.project-main-container {
  width: 100%;
  padding-top: 5%;
  margin-top: 10%;
}

.project-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .project-cards-wrapper {
    grid-template-columns: repeat(1, 0fr);
  }
}
