section {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
}

.my-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.my-info h1 {
    font-family: var(--font);
    font-size: 4em;
}

.my-info h2 {
    font-family: var(--font);
    font-size: 3em;
}

.my-icon {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto auto;
}

.my-icon:hover .hover-icon-container {
    width: 100%
}

.hover-icon-container {
    transition: .25s;
    width: 0%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 1245px) {
    .my-info {
        width: 70%;
    }
    .my-icon {
        margin: auto 0;
    }
    .my-icon img{
        width: 300px;
        height: auto;
    }

}

@media (max-width: 960px) {
    .my-info {
        font-size: .70em;
        width: 100%;
        height: 50%;
    }
    .my-icon {
       margin: 0 auto;
    }
    section {
        flex-direction: column;
    }



}