footer {
  background-color: rgb(17, 17, 26);
  margin: 0;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer h3 {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: white;
}
footer h3:hover {
  animation: alterScale 1.25s ease infinite;
}

.contact {
  width: fit-content;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 550px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes alterScale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
