<section>
    <h2 class="text-end">About me</h2>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum reprehenderit veniam doloremque tempora
            voluptas dolore illum consequuntur omnis repellendus possimus ea modi harum quisquam, molestiae consectetur.
            Nihil, minima incidunt.
            Tenetur repellendus repellat aperiam quo minima facere non voluptates tempora exercitationem totam impedit
            dolores enim hic, nam autem! Obcaecati explicabo eius quidem aut, dignissimos officia libero maiores magnam
            nam.
            Sapiente.
            Aliquam blanditiis repellat explicabo architecto labore, ut, sunt rerum, similique nostrum soluta quod modi
            provident nam alias aperiam ex eveniet voluptate minima adipisci? Voluptates rerum magnam alias, accusantium
            neque vel.</p>

        <h2 class="words">My 3 defining words</h2>
        <div>
            <article>
                <img src="../../../assets/icons/decision-c.png" alt="">
                <div>
                    <h3>Proactive, always investigating new technologies and learning from them.</h3>
                </div>
            </article>
            <article>
                <img src="../../../assets/icons/idea-c.png" alt="">
                <div>
                    <h3>Resolutive, facing the problems, solving them fast and with determination.</h3>
                </div>
            </article>
            <article>
                <img src="../../../assets/icons/joy-c.png" alt="">
                <div>
                    <h3>Joy, living your life always with smile raises up your coworkers moral. </h3>
                </div>
            </article>
        </div>
    </div>
</section>