<section>
    <div>
        <p>Passionate and proactive programmer with more than 4
            years of learning
            different languages and technologies, eager to work and face multiple
            projects, always with a smile capable of motivate others. Efficient in developing user interfaces,
            troubleshooting both simple and complex issues and implementing new features based on user feedback.
        </p>
        <p>
            I'm looking forward to work in an encouraging company that will assist me in developing, improving and
            obtaining the necessary skills in order to become the best developer possible.
        </p>

        <h2 class="words">My 3 defining words</h2>
        <div class="my-words">
            <p class="tooltip-words">{{tooltipText}}</p>
            <article
                (mouseenter)="changeTooltip('Proactive, always investigating new technologies and learning from them.')"
                (mouseleave)="changeTooltip('')">
                <img src="assets/icons/decision-c.png" alt="">
                <div>
                    <h3>Proactive, always investigating new technologies and learning from them.</h3>
                </div>
            </article>
            <article
                (mouseenter)="changeTooltip('Resolutive, facing the problems, solving them fast and with determination.')"
                (mouseleave)="changeTooltip('')">
                <img src="assets/icons/idea-c.png" alt="">
                <div>
                    <h3>Resolutive, facing the problems, solving them fast and with determination.</h3>
                </div>
            </article>
            <article
                (mouseenter)="changeTooltip('Joy, living your life always with smile raises up your coworkers moral.')"
                (mouseleave)="changeTooltip('')">
                <img src="assets/icons/joy-c.png" alt="">
                <div>
                    <h3>Joy, living your life always with smile raises up your coworkers moral. </h3>
                </div>
            </article>
        </div>
    </div>
</section>