section {
    margin: 0;
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    padding-top: 150px;
}

p {
    font-size: 30px;
    margin-bottom: 45px;
}

article {
    background-color: rgb(72, 71, 145);
    padding: 10px;
    display: flex;
    overflow: hidden;
    width: 95px; 
    transition: .5s;
    border-radius: 10px;
}

article>div{
    position: relative;
    min-width: 1400px;
    overflow: hidden;
    padding-left: 100px;
}

h3 {
    cursor: default;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-bottom: 0;
    width: 100%;
    transition: all .25s;
}

article>div:hover h3{
    color: rgb(12, 12, 24);
    font-size: 2em;
}

article img {
    width: 75px;
    height: 75px;
}

article:nth-child(3) {
    margin: 20px 0;
}

.words {
    margin-bottom: 30px;
}

.tooltip-words {
    display: none;
}

@media (max-width: 1245px) {
    p {
        font-size: x-large;
    }

    h3 {
        font-size: large;
    }

    article>div:hover h3{
        color: rgb(12, 12, 24);
        font-size: x-large;
    }

}

@media (max-width: 1100px) {
    p {
        font-size: x-large;
    }

    h3 {
        font-size: large;
    }

    article>div:hover h3{
        color: rgb(12, 12, 24);
        font-size: large;
    }

}

@media (max-width: 910px) {

    p {
        margin-bottom: 30px;
    }

    .words {
        text-align: center;
    }
    .my-words {
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }

    article:nth-child(3) {
        margin: 0;
    }

    .my-words article:hover{
        background-color: rgba(97, 95, 189, 0.15);
    }

    .my-words article div {
        display: none;
    }

    .tooltip-words {
        font-size: small;
        top: -30px;
        background-color: rgba(0, 0, 0, 0.842);
        text-align: center;
        width: 95vw;
        display: block;
        position: absolute;
    }

}